* {
  font-family: Roboto;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display";
  font-weight: normal;
}

.image-wrapper {
  position: relative;
  width: 100%;
  padding: 3rem;
}

.image-wrapper img {
  height: auto;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.image-wrapper h1 {
  position: absolute;
  transform: translateY(-100%);
  font-size: 20vw;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  padding: 0 1.5rem;
  word-wrap: break-word;
  white-space: normal;
}

.image-wrapper::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -20%;
  width: 140%;
  height: 120%;
  background-color: #008dba;
  z-index: -1;
  transform: skewY(-30deg);
}
