* {
  font-family: Roboto;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display";
  font-weight: normal;
}

img {
  max-width: 100%;
  display: block;
}

p {
  line-height: 1.5rem;
  max-width: 65ch;
}

h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 0.75rem;
}

.image-wrapper {
  position: relative;
  width: 100%;
  padding: 1.5rem;
  overflow: hidden;
}

.image-wrapper img {
  height: auto;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.image-wrapper h1 {
  position: absolute;
  transform: translateY(-100%);
  font-size: 20vw;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  padding: 0 1rem;
  word-wrap: break-word;
  white-space: normal;
}

.image-wrapper::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -20%;
  width: 140%;
  height: 120%;
  background-color: #008dba;
  z-index: -1;
  transform: skewY(-30deg);
}

.icons {
  display: flex;
  justify-content: center;
}

.icons img {
  width: 20%;
  max-width: 2rem;
  height: auto;
  margin: 0.75rem;
}

#about-me {
  margin-bottom: 6rem;
}

#about-me p {
  padding: 0 1.5rem;
}

#projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project {
  width: 80%;
  max-width: 300px;
  margin-bottom: 6rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.project .info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem;
}

.project .info h3 {
  font-size: 1.25rem;
}

.project .info .icons img {
  margin: 0.25rem;
  width: 30%;
}

.project .info .description {
  margin-top: 1rem;
}

.project .screenshot {
  background-color: indianred;
  min-height: calc(100vh / 3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.project .screenshot p {
  color: white;
  font-family: "Playfair Display";
  font-size: 2rem;
  text-align: center;
}

#contact-me {
  background-color: #008dba;
  color: white;
  padding-top: 1rem;
}

#contact-me p {
  padding: 0 1.5rem;
}

#contact-me p:first-of-type {
  font-size: 1.125rem;
  margin-bottom: 1.5rem;
}

#contact-me p:not(first-of-type) {
  font-size: 0.875rem;
}

#contact-me img {
  margin-top: 2.5rem;
}

@media (width >= 375px) {
  #about-me {
    margin-bottom: 3rem;
  }

  #about-me p {
    margin-bottom: 2rem;
  }
}
