* {
  font-family: Roboto;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display";
  font-weight: normal;
}

.image-wrapper {
  position: relative;
  width: 100%;
  padding: 3rem;
  overflow: hidden;
}

.image-wrapper img {
  height: auto;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.image-wrapper h1 {
  position: absolute;
  transform: translateY(-100%);
  font-size: min(18vw, 10rem);
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  padding: 0 1.5rem;
  word-wrap: break-word;
  white-space: normal;
}

.image-wrapper::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -20%;
  width: 140%;
  height: 120%;
  background-color: #008dba;
  z-index: -1;
  transform: skewY(-30deg);
}

#about-me h2,
#my-work h2,
#contact-me h2 {
  text-align: center;
  font-size: 6rem;
  margin-bottom: 1.5rem;
}

#about-me p {
  padding: 0 3rem;
  font-size: 2.75rem;
  color: #747474;
  max-width: 65ch;
}

#about-me .icons,
#contact-me .icons {
  display: flex;
  justify-content: center;
  margin: 1.5rem 0 10rem 0;
}

#about-me .icons img,
#contact-me .icons img {
  height: auto;
  width: 10%;
  max-width: 100px;
  margin-right: 3rem;
}

#projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#my-work .project {
  margin-bottom: 10rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: 80%;
  max-width: 65ch;
}

#my-work .project .info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem 2rem 5rem 2rem;
  align-items: center;
}

#my-work .project .info h3 {
  font-size: 3rem;
}

#my-work .project .info .icons {
  width: fit-content;
  max-width: 30%;
}

#my-work .project .info p {
  font-size: 1.75rem;
  margin-top: 1rem;
}

#my-work .icons img {
  height: auto;
  width: 40%;
  max-width: 60px;
}

#my-work .icons img:first-of-type {
  margin-right: 1rem;
}

#my-work .img-placeholder {
  width: 100%;
  min-height: calc(100vh / 3);
  background-color: cornflowerblue;
  display: flex;
  align-items: center;
}

#my-work .project .img-placeholder p {
  font-family: "Playfair Display";
  color: white;
  font-size: 4.5rem;
  padding: 3rem;
}

#contact-me {
  background-color: #008dba;
  color: white;
  padding-top: 2rem;
}

#contact-me img {
  display: block;
  width: 100%;
  height: auto;
}

#contact-me p {
  padding: 0 3rem;
  max-width: 65ch;
}

#contact-me p:first-of-type {
  font-size: 3rem;
  margin-bottom: 3rem;
}

#contact-me p:not(:first-of-type) {
  font-size: 2.125rem;
}

#contact-me .icons {
  margin: 4rem 0;
}
